.btn {
    width: 100%;
    border: 3px solid black;
    background: none;
    aspect-ratio: 1 / 1;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem;
    cursor: pointer;
}

.btn:active {
    background-color: hsl(200, 100%, 50%);
    color: white;
}

.btn:disabled {
    opacity: 0.3;
}

.btn:hover:not(:disabled, :active), .btn:focus:not(:disabled, :active) {
    background-color: hsl(200, 100%, 75%);
}

